@font-face {
    font-family: 'Inter';
    font-display: swap;
    font-weight: 100 900;
    src: url('fonts/Inter-VariableFont.woff2') format('woff2');
}

@font-face {
    font-family: 'Smythe';
    font-display: swap;
    font-weight: 400;
    src: url('fonts/Smythe-Regular.woff2') format('woff2');
}

body {
    margin: 0;
    font-weight: 400;
    font-family: 'Smythe', system-ui;
} 

header {
    width: 600px;
    margin: 0 auto;
}

.header-img {
    width: 100%;
    height: auto;
}

main {
    padding: 22px 45px 20px 45px;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.menu-item {
    margin-top: 45px;
    border-bottom: 1px solid #d2d2d2;
    /* border: 1px solid red; */
    display: flex;
    padding-bottom: 48px;
}

.dish-icon {
    font-family: 'Inter', sans-serif;
    font-size: 78px;
}

.menu-item-description {
    margin-left: 30px;
}

.menu-item-title {
    font-size: 28px;
    margin: 5px 0 0 0;
    font-weight: 400;
}

.ingredients {
    margin-top: 5px;
    color: #8B8B8B;
    font-size: 16px;
}

.price {
    margin: 10px 0 0 0;
    font-size: 20px;
}

.add-btn {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    background: #fff;
    font-weight: 200;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 15px 0 0 auto;
    
}

.add-btn-text {
    line-height: 0;
    transform: translateY(-1px);
}

.order-title {
    font-size: 28px;
    text-align: center;
    margin: 40px 0 45px 0;
}

.order-item-container {
    display: flex;
    margin-bottom: 10px;
}

.order-item {
    font-size: 28px;
}

.remove-btn {
    font-size: 12px;
    color: #bbb;
    border: none;
    background: #fff;
}

.order-price {
    margin-left: auto;
    font-size: 20px;
}

.order-hr {
    border: 1px solid #000;
    margin: 20px 0 10px 0;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
}

.total-price {
    font-size: 28px;
}

.complete-order-btn {
    height: 60px;
    width: 100%;
    border-radius: 3px;
    border: none;
    background: #16DB99;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #fff;
    font-weight: 700;
    margin-top: 45px;
}
